trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: Test
    jobs:
      - job: NewmanCLI
        displayName: 'Newman CLI'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Setup Node.js'

          - script: npm install
            displayName: 'Install dependencies'

          - script: npm run test:report
            displayName: 'Run tests via CLI'
            continueOnError: true

          - task: PublishTestResults@2
            condition: always()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: 'reports/*.xml'
              testRunTitle: 'Newman CLI Tests'
              failTaskOnFailedTests: false

          - task: PublishPipelineArtifact@1
            condition: always()
            inputs:
              targetPath: 'reports'
              artifact: 'newman-report-cli'

      - job: NewmanJS
        displayName: 'Newman JavaScript'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Setup Node.js'

          - script: npm install
            displayName: 'Install dependencies'

          - script: npm run test:js
            displayName: 'Run tests via JavaScript'
            continueOnError: true

          - task: PublishPipelineArtifact@1
            condition: always()
            inputs:
              targetPath: 'reports'
              artifact: 'newman-report-js'
